{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Unicorn Ranch</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>

	<body>
	<div class="bg-pink-100 max-w-5xl my-8 mx-auto rounded-full shadow-lg shadow-pink-200/30">
		<h1 class="text-6xl text-center py-8 font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-blue-500 to-red-600">
			Welcome to the Unicorn Ranch!
		</h1>
	</div>
	{% block content %}{% endblock %}
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</html>
