{% extends "base.html" %}
{% load static %}
{% load static tailwind_tags %}

{% block content %}
<ul>
{% for unicorn in unicorns %}
    <li>
        {{unicorn.name}}
    </li>
    <li>
        {{unicorn.color}}
    </li>
    <li>
        {{unicorn.location}} 

        {% comment %}  
        <a href="{% url 'unicorn-update' unicorn.id %}">
            Change location
            <img src="{% static 'img/edit.png' %}" alt="Change Unicorn Location">
        </a>
        {% endcomment %}

        <img class="dropDownButton" src="{% static 'img/edit.png' %}" alt="Change Unicorn Location">
        <form class="dropDownList" action="">
            <label for="locations">Select Location</label>
            <select name="locations">
              <option value="Pasture">Pasture</option>
              <option value="Barn">Barn</option>
              <option value="Trails">Trails</option>
            </select>
            <br><br>
            <input type="submit" value="Edit Location">
            <button class="cancel" type="button">Cancel</button>
        </form>

    </li>
    <li>

    </li>
{% empty %}
<h3>No items in list</h3>
{% endfor %}
</ul>


{% endblock %}